.data-div {
    background-color: #232632;
    border-radius: 1.5%;
    margin: 0.5%;
    padding: 1%
}

.page-base-div {
    margin: 1%
}

.selector-div {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}